* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

html.dark-mode {
    --navbar-background: #111116;
    --navbar-color: #ffffff;
    --navbar-height: 42px;
    --navbar-search-background: #9999aa;
    --navbar-search-color: #000000;
    --navbar-search-hover-background: #bbbbc4;

    --main-background: #222228;
    --main-color: #ffffff;
    --main-top-padding: 14px;
    --main-separator-color: #444444;
}

html.light-mode {
    --navbar-background: #eeeef5;
    --navbar-color: #000000;
    --navbar-height: 42px;
    --navbar-search-background: #9999aa;
    --navbar-search-color: #000000;
    --navbar-search-hover-background: #bbbbc4;

    --main-background: #ffffff;
    --main-color: #000000;
    --main-top-padding: 14;
    --main-separator-color: #dddddd;
}

body {
    background-color: var(--main-background);
    color: var(--main-color);
}

navbar {
    min-height: var(--navbar-height);
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: auto;
    grid-template-areas: "logo searchbar links";

    background-color: var(--navbar-background);
    color: var(--navbar-color);

    z-index: 100;
    box-shadow: 0px -2px 4px 4px black;

}

navbar .toggle-colors {
    height: 100%;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
    outline: none;
    user-select: none;
}

navbar .toggle-colors:hover {
    cursor: pointer;
}

navbar .logo {
    grid-area: "logo";
    display: flex;
    align-items: center;
    justify-content: center;
}

navbar .searchbar {
    grid-area: "searchbar";

    display: flex;
    align-items: center;
    justify-content: center;
}

navbar .searchbar .search-container {
    border: 1px solid var(--main-separator-color);
    width: 60%;
    height: 80%;

    display: flex;
    align-items: stretch;
    justify-content: center;
}

navbar .searchbar input {
    flex-grow: 1;

    font-size: 1.5rem;
    font-family: monospace;
        
    outline: none;
    border: none;
    padding: 2px;

    background-color: var(--navbar-search-background);
    color: var(--navbar-search-color);
    transition: all 400ms;
}

navbar .searchbar button {
    width: 50px;
    height: 100%;

    background-color: var(--navbar-search-background);
    color: var(--navbar-search-color);
    transition: all 400ms;

    border: none;
}

navbar .searchbar .search-container:hover *,
navbar .searchbar .search-container:focus-within *
{
    background-color: var(--navbar-search-hover-background);
}


navbar .links {
    grid-area: "links";
}


main {
    min-height: calc(100vh - var(--navbar-height));
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "project main symbols";
    position: relative;
}

main > * {
    padding-top: var(--main-top-padding);
    padding-left: 4px;
    height: calc(100vh - var(--navbar-height));

    overflow: auto;
}

main .package-sidebar {
    grid-area: "project";
    border-right: 2px solid var(--main-separator-color);
    background-color: var(--navbar-background);
    text-decoration: none;
}

main .package-sidebar .item {
    font-size: 1.2rem;
    text-decoration: none !important;
}

main .package-sidebar a {
    color: var(--main-color);
    text-decoration: none !important;
}

main .package-sidebar a .item:hover {
    background-color: var(--main-separator-color);
}

main .package-sidebar .container {
    position: relative;
    left: 20px;
    font-size: 1.2rem;
    width: calc(100% - 20px);
}

main .main-view {
    grid-area: "main";
}

main .main-view .package-entry {
    margin: 8px;
    padding: 16px;
}

main .main-view .package-entry:not(:first-child) {
    border-top: 1px solid var(--main-separator-color);
}

main .main-view .package-entry .entry-header {
    display: flex;
    justify-content: space-between;
}

main .main-view .package-entry .entry-header .visibility-badge {
    color: var(--main-background);
    background-color: var(--main-color);
    border-radius: 4px;
    padding: 4px;
    margin-right: 4px;
    text-transform: lowercase;
}

main .main-view .package-entry .entry-header .entry-source {
    background-color: var(--navbar-search-background);
    border-radius: 4px;
    padding: 4px;
}

main .main-view .package-entry .entry-header .entry-source a {
    color: var(--navbar-search-color);
}

main .main-view .entry-name {
    font-family: monospace;
    font-weight: 700;
    font-size: 1.2rem;
}

main .main-view pre {
    margin-top: 10px;
    padding: 4px;

    border-radius: 6px;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.5);

    overflow-x: auto;
}

main .main-view .package-entry a {
    text-decoration: none;
}

main .main-view pre * {
    font-family: "Courier New";
}

main .main-view .source-definition {
    position: relative;
}

main .main-view .source-definition .source-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;

    opacity: 0;
    transition: opacity 100ms;
    background-color: var(--navbar-search-background);
    color: black;

    padding: 4px;
    border-radius: 4px;
}

main .main-view .source-definition:hover .source-link {
    opacity: 100%;
}

main .main-view .source-definition .source-link a {
    color: black;
    text-decoration: none;
}

main .symbol-sidebar {
    grid-area: "symbols";
    background-color: var(--navbar-background);
    border-left: 2px solid var(--main-separator-color);
    text-decoration: none;
}

main .symbol-sidebar a {
    text-decoration: none;
    color: var(--navbar-search-background);
}

main .symbol-sidebar a * {
    text-decoration: none;
}

main .symbol-sidebar a:visited .symbol-link {
    text-decoration: none;
    color: var(--navbar-search-background);
}

main .symbol-sidebar a .symbol-link {
    /* transition: all 400ms; */
}

main .symbol-sidebar a:hover .symbol-link {
    background-color: var(--main-separator-color);
}


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

